.main-sec {
    text-align: center;
    margin-top: 130px;
    margin-bottom: 45px;
    width: 100%;
    height: 100%;
}

.first-lern {
    font-size: 3.4em;
    font-weight: 800;
    text-align: center;
}

.second-lern {
    text-align: center;
}

.main-title {
    color: #2ca8dd;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.main-title:hover {
    color: #2ca8dd;
}

.card-des {
    text-align: center;
    margin: 0 auto;
    color: #111111;
}

.upcoming-lern {
    color: #2ca8dd;
    font-size: 34px;
}

.after-upcoming-lern {
    font-size: 16px;
}

.button-lern {
    text-align: center;
    margin-top: 30px;
    padding: 7px;
    width: 35%;
    border-radius: 5px;
    background-color: #2ca8dd;
    color: #fff;
    border: none;
}

.button-lern:hover {
    background-color: transparent;
    color: #2ca8dd;
    border: 1px solid #2ca8dd;
    transition: all 0.3s;
}

.academy-card {
    font-size: 18px;
    font-weight: 600;
}

.enroll-btn {
    color: #fff;
    background-color: #2ca8dd;
    border: none;
    padding: 7px;
    width: 50%;
    border-radius: 5px;
}

.enroll-btn:hover {
    border: 1px solid #2ca8dd;
    color: #2ca8dd;
    background-color: transparent;
    transition: all 0.3s;
}


@media screen and (max-width:1200px) {

    /* navbar */
    nav .links .links-nav {
        display: block;
        padding: 1.1em;
        font-size: 18px;
        font-weight: bold;
        color: #000000;
        text-decoration: none;
        position: relative;
    }

    /* End navbar */

    /* main text section  */
    .main-sec {
        margin-top: 110px;
        margin-bottom: 10px;
        width: 100%;
        height: 100%;
    }

    .first-lern {
        font-size: 2.8em;
        font-weight: 800;
        text-align: center;
    }

    .second-lern {
        font-size: 22px;
        text-align: center;
    }

    .main-title {
        color: #2ca8dd;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        font-weight: 500;
    }

    .card-des {
        font-size: 12px;
        text-align: center;
        margin: 0 auto;
        color: #111111;
    }

    .upcoming-lern {
        color: #2ca8dd;
        font-size: 34px;
        white-space: nowrap;
    }

    .enroll-btn {
        color: #fff;
        background-color: #2ca8dd;
        border: none;
        padding: 7px;
        width: 60%;
        border-radius: 5px;
    }

    .academy-card {
        font-size: 14px;
        font-weight: 400;
    }

    /*End main text section  */

    /* Footer  */
    .footer-col h4 {
        font-size: 28px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 30px;
        margin-left: 30px;
        font-weight: 700;
        position: relative;
    }

    .li-footer {
        color: #bbbbbb;
        font-size: 16px;
        font-weight: 500;
        display: block;
        text-align: justify;
    }

    .footer-col ul li a {
        font-size: 16px;
    }

    .footer-col iframe {
        height: 220px;
        width: 220px;
    }

    .social-footer-link {
        display: inline-block;
        height: 40px;
        margin: 5px;
    }

    /* End Footer */

}

@media screen and (max-width:991px) {

    nav .links .links-nav {
        display: block;
        padding: 10.6px;
        font-size: 16px;
        font-weight: bold;
        color: #000000;
        text-decoration: none;
        position: relative;
    }

    .main-sec {
        margin-top: 100px;
        margin-bottom: 10px;
        width: 100%;
        height: 100%;
    }

    .first-lern {
        font-size: 2.3em;
        font-weight: 800;
        text-align: center;
    }

    .second-lern {
        font-size: 20px;
        text-align: center;
    }

    .main-title {
        color: #2ca8dd;
        text-align: center;
        text-decoration: none;
        font-size: 10px;
        font-weight: 500;
    }

    .card-des {
        font-size: 9px;
        text-align: center;
        margin: 0 auto;
        color: #111111;
    }

    .upcoming-lern {
        color: #2ca8dd;
        font-size: 34px;
        white-space: nowrap;
    }

    .enroll-btn {
        color: #fff;
        background-color: #2ca8dd;
        border: none;
        padding: 7px;
        width: 60%;
        border-radius: 5px;
    }

    .academy-card {
        font-size: 14px;
        font-weight: 400;
    }

    /* Footer  */
    .footer-col h4 {
        font-size: 24px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 30px;
        margin-left: 30px;
        font-weight: 700;
        position: relative;
    }

    .li-footer {
        color: #bbbbbb;
        font-size: 14px;
        font-weight: 500;
        display: block;
        text-align: justify;
    }

    .footer-col ul li a {
        font-size: 14px;
    }


    .footer-col iframe {
        height: 180px;
        width: 180px;
    }


    .social-footer-link {
        display: inline-block;
        height: 40px;
        margin: 15px;
    }

    /* End Footer */
}

@media screen and (max-width:768px) {
    nav .links .links-nav {
        display: block;
        padding: 10.6px;
        font-size: 16px;
        font-weight: bold;
        color: #fffcfc;
        text-decoration: none;
        position: relative;
    }
}

@media screen and (max-width:766px) {

    /* navbar */
    nav .links .links-nav {
        display: block;
        padding: 10.6px;
        font-size: 16px;
        font-weight: bold;
        color: #fffcfc;
        text-decoration: none;
        position: relative;
    }

    /* End navbar */

    /* main text section  */
    .main-sec {
        margin-top: 100px;
        margin-bottom: 5px;
        width: 100%;
        height: 100%;
    }

    .first-lern {
        font-size: 1.7em;
        font-weight: 800;
        text-align: center;
    }

    .second-lern {
        font-size: 16px;
        text-align: center;
    }

    .main-title {
        color: #2ca8dd;
        text-align: center;
        text-decoration: none;
        font-size: 10px;
        font-weight: 500;
    }

    .card-des {
        font-size: 9px;
        text-align: center;
        margin: 0 auto;
        color: #111111;
    }

    .upcoming-lern {
        color: #2ca8dd;
        font-size: 34px;
        white-space: nowrap;
    }

    .enroll-btn {
        color: #fff;
        background-color: #2ca8dd;
        border: none;
        padding: 7px;
        width: 60%;
        border-radius: 5px;
    }

    .academy-card {
        font-size: 14px;
        font-weight: 400;
    }

    /*End main text section  */

    /* Footer  */
    .footer-col h4 {
        font-size: 24px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 30px;
        margin-left: 30px;
        font-weight: 700;
        position: relative;
    }

    .li-footer {
        color: #bbbbbb;
        font-size: 14px;
        font-weight: 500;
        display: block;
        text-align: justify;
    }


    .footer-col ul li a {
        font-size: 16px;
    }


    .footer-col iframe {
        margin-left: 40px;
        height: 200px;
        width: 200px;
    }

    .social-footer-link {
        display: inline-block;
        height: 40px;
        margin: 10px;
    }

    /* End Footer */

}

@media screen and (max-width:576px) {

    /* navbar */
    nav .links .links-nav {
        display: block;
        padding: 10.6px;
        font-size: 16px;
        font-weight: bold;
        color: #fffcfc;
        text-decoration: none;
        position: relative;
    }

    /* End navbar */

    /* main text section  */
    .main-sec {
        margin-top: 100px;
        margin-bottom: 5px;
        width: 100%;
        height: 100%;
    }

    .upcoming-lern {
        color: #2ca8dd;
        font-size: 30px;
    }

    .button-lern {
        text-align: center;
        margin-top: 30px;
        padding: 7px;
        width: 45%;
        border-radius: 5px;
        background-color: #2ca8dd;
        color: #fff;
        border: none;
    }

    /*End main text section  */

    /* Footer  */
    .footer-col h4 {
        font-size: 24px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 30px;
        margin-left: 30px;
        font-weight: 700;
        position: relative;
    }

    .li-footer {
        color: #bbbbbb;
        font-size: 14px;
        margin-right: 30px;
        font-weight: 500;
        display: block;
        text-align: justify;
    }



    .footer-col iframe {
        height: 200px;
        width: 200px;
    }


    .social-footer-link {
        display: inline-block;
        height: 40px;
        margin-left: 15px;
    }

    /* End Footer */

}